.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 92vh;
  position: absolute;
  left: 0;
}

.info {
  width: 60%;
  margin-right: 98px;
  margin-top: 40px;
  color: #FFFFFF;
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  min-width: 250px;
  width: 80%;
  margin-right: 12px;
  background: transparent;
  font-style: 18px;
  padding: 10px;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  margin-right: 12px;
  background: #203338;
  color: #FFFFFF;
  font-style: 18px;
  padding: 10px;
}

.perfil {
  display: flex;
  margin: 20px 0;
  justify-content: center ;


}

.profile {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 2px solid #E5E5E5;
  
}